body {
    background-color: #f6f6f6;

}
a{
    text-decoration: none;
}
.login_register_form_box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login_register_form_box h1{
    text-align: center;
}

.login_main {
    background-color: #ffffff;
    padding: 20px;
    margin: 50px auto;
    border-radius: 8px;
    width: 400px;
}

.container_tabs {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.tab {
    color: #000000;
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
}

.tab.active {
    color: #000000;
    border-bottom: 3px solid #000000;
}

form.form_account_login,
form.form_account_register {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 5px;
}

form input[type="email"],
form input[type="password"],
form input[type="tel"],
form input[type="text"]  {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #444;
    border-radius: 4px;
    background: transparent;;
}

form input[type="email"]:focus,
form input[type="password"]:focus {
    outline-color: #ffffff;
}

.form_fields{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.password_container {
    display: flex;
    align-items: center;
}

.password_container input{
    width: 93%;
}

.show-password {
    background: none;
    border: none;
    color: #000;
    cursor: pointer;
    margin-left: -50px;
    margin-top: -10px;
}

.forgot-password {
    text-align: right;
    font-size: 12px;
    margin-bottom: 15px;
    color: #000;
    text-decoration: underline;
}

.remember-me {
    display: flex;
    align-items: center;
    margin: 20px 0;
    color: #000;
}

.remember-me input {
    margin-right: 5px;
}

.btn-login {
    width: 100%;
    padding: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.btn-login:hover {
    background-color: #444;
}

.terms {
    font-size: 12px;
    margin-top: 10px;
}

.terms a {
    color: #00bcd4;
    text-decoration: none;
}

.form_subtitle{
 color: #000;
}

.form_field {
    color: #6d6e6e;
    margin-bottom: 5px;
}

.sub_form_field{
    color: #000000;
    font-size: small;
}

.gender_selection > div {
    display: flex;
    gap: 20px;
    padding: 10px 0;
}

.phoneNo_field{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: baseline;
}

.err {
    color: #ff0000;
}